{% extends "layout.html" %} <!--Essa linha vai herdar tudo o que consta nessa folha e replicar tudo o que consta no layout.html-->


    {% block styles %}
        <link rel="stylesheet" href="./styles/create-point.css"><link>
        <link rel="stylesheet" href="./styles/modal.css"><link>
    {% endblock styles %}

    {% block title %}
        <title>Ponto de Coleta</title>
    {% endblock title %}

    {% set bodyId = "page-create-point" %} <!--estabelece o nome da classe para que o layout altere a variável lá dentro-->

            {% block content %}
                {% include "partial/page-header.html" %} <!--Esse trecho está no partial/page-header-->
                <form action="/savepoint" method="POST" > <!--por padrão o form tem como metho o GET, aqui nós trocamos para POST para registrar os dados no /savepoint-->
                    <h1>Cadastre do ponto de coleta</h1>
                    
                    <fieldset> <!--Ele faz um agrupamento de conjuntos, essa tag é apenas para organização mesmo -->
                        <legend>
                            <h2>Dados da Entidade</h2>
                        </legend>

                        <div class="field">
                            <label for="name">Nome da Entidade</label>
                            <input type="text" name="name" placeholder="Associação ABC" required></input>
                        </div>

                        <div class="field">
                            <label for="image">Foto da Entidade</label>
                            <input type="text" name="image" placeholder="https://" required></input>
                        </div>

                        <div class="field">
                            <label for="cep">CEP</label>
                             <input type="number" name="cep" placeholder="0100000" maxlength = "9" required = "required" >
                        </div>

                        <div class="field-group">
                            

                            <div class="field">
                                <label for="address">Endereço</label>
                                <input type="text" name="address" placeholder="Rua 7 de Setembro" required>
                            </div>
                            <div class="field">
                                <label for="number">Número/Complemento</label>
                                <input type="text" name="text" placeholder="nº70 bloco 10" required>
                            </div>
                        </div>

                        <div class="field-group">
                            <div class="field">
                                <label for="State">Estado</label>
                                <select name="uf" required>
                                    <option value="">Selecione o Estado</option>
                                </select>
                                <input type="hidden" name="state"></input> <!--A ideia é não deixar que a informação apareça na URL como código, mas como os nome devido para o momento em que jogarmos para o back-end. Se ele vai fazer outra chamado na API e isso deixa o site pesado-->
                            </div>

                            <div class="field">
                                <label for="city">Cidade</label>
                                <select name="city" disabled required>
                                    <option value="">Selecione a cidade</option> <!--Na cidade não precisamos colocar o input hidden porque conseguimos acessar o nome dela diretamente pelo json-->
                                </select>
                                
                            </div>
                        </div>

                    </fieldset>

                    <fieldset> <!--Ele faz um agrupamento de conjuntos, essa tag é apenas para organização mesmo -->
                        <legend>
                            <h2>Selecione o(s) item(ns) de coleta</h2>
                        </legend>

                        <div class="items-grid">
                            <li data-id="Lâmpadas" >
                                <img src="./assets/lampadas.svg" alt="lampadas"><span>Lâmpadas</span>
                            </li>

                            <li data-id="Pilhas e Baterias" >
                                <img src="./assets/baterias.svg" alt="pilhas-baterias"><span>Pilhas e Baterias</span>
                            </li>

                            <li data-id="Papéis e Papelão" >
                                <img src="./assets/papeis-papelao.svg" alt="papeis-papelao"><span>Papéis e Papelão</span>
                            </li>

                            <li data-id="Resíduos Eletrônicos" >
                                <img src="./assets/eletronicos.svg" alt="residuos-eletronicos"><span>Resíduos Eletrônicos</span>
                            </li>

                            <li data-id="Resíduos Orgânicos" >
                                <img src="./assets/organicos.svg" alt="residuos-organicos"><span>Resíduos Orgânicos</span>
                            </li>

                            <li data-id="Óleo de cozinha" >
                                <img src="./assets/oleo.svg" alt="oleo-de-cozinha"><span>Óleo de cozinha</span>
                            </li>
                            <input type="hidden" name="item"></input>

                        </div>
                    </fieldset>

                    <button type="submit">Cadastrar ponto de coleta</button>
                </form>
            {% endblock content %}

            {% block modal %}
                {% if saved %} <!--sempre que a variável especificada no server, for true, ele mostra a thanks page-->
                    {% include "partial/point-created.html"%}
                {% endif %}
            {% endblock modal %}



            {% block scripts %}
                <script src="./scripts/create-point.js"></script>
            {% endblock scripts %}
