<div id='modal' class="hide"> <!--Essa tela é criada aqui, pois é uma janela que se abre sem sair da paǵina-->
    <div class="content-modal">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="">Fechar</a>
        </div>

    <form action="/results">
        <label for="search">Cidade
        <div class="search-field">
            <input type="text" name='search' placeholder="Escreva a cidade">
            <button>
                <img src="./assets/search.svg" alt="buscar">
            </button>
        </label>
        </div>
    </form>
    </div>
</div>