:root{
    --title-color:#322153; 
    --background-pri-color: #34cb79;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

a{
    text-decoration: none;
}

h1, h2,h3{
    color: #322153;
}




