@media (max-width: 900px){
    #page-home{
        position: absolute;
        background-position-x: 70vw;
    }

    #page-home .main-content{
        align-items: center;
        text-align: center;
    
    } 

    #page-home header{
        margin-top: 20px;
    }
    
    #page-home header a{
        position: absolute;
        bottom:48px;
        left:50%;
        transform: translateX(-50%);
    }

    #page-home main{
        align-items: center;
    
    }

    #page-results #cards{
        grid-template-columns: 1fr; /*quando a tela atingir os 900px, o que antes era 03 colunas, vai ficar somente 01*/
    }

    #page-results #cards img{
        height: 200px;
    }

}

@media(min-width: 1700px){
    #page-home header a{
        background-position-x: 40vw;
        width: 25%;
    }
}

@media(max-height: 500px){
    #page-home{
        background-position-y: 200px;
    }
}